<h1>Epic Records...where everything sounds epic!</h1>

<table>
  <tr>
    <th>Album ID</th>
    <th>Artist</th>
    <th>Title</th>
    <th>Stock Level</th>
    <th>Buy Price</th>
    <th>Sell Price</th>
    <th>Profit (£)</th>


  </tr>

  <% @albums.each do |album| %>

  <tr>
    <td><%= album.id %></td>
    <td><%= album.artist %></td>
    <td><%= album.title %></td>
    <td><%= album.stock_level %></td>
    <td><%= album.buy_price %></td>
    <td><%= album.sell_price %></td>
    <td><%= album.profit %></td>

  </tr>
<% end %>
</table>
