<h2>Albums</h2>

<table>
  <tr>
    <th>Album ID</th>
    <th>Artist</th>
    <th>Title</th>
    <th>Stock Level</th>
    <th>Sell Price</th>
  </tr>

  <% @albums.each do |album| %>

  <tr>
    <td><%= album.id %></td>
    <td><%= album.artist %></td>
    <td><a href="/albums/<%= album.id %>" method="get"><%= album.title %></a></td>
    <td><%= album.stock_level %></td>
    <td>£<%= album.sell_price %></td>
  </tr>
  <% end %>
</table>
