<h2>Albums</h2>

<p><a href="/albums/new">Add New Album</a></p>
<table>
  <tr>
    <th>Album ID</th>
    <th>Artist</th>
    <th>Title</th>
    <th>Stock Level</th>
    <th>Sell Price</th>


  </tr>

  <% @albums.each do |album| %>

  <tr>
    <td><%= album.id %></td>
    <td><%= album.artist %></td>
    <td><%= album.title %></td>
    <td><%= album.stock_level %></td>
    <td><%= album.sell_price %></td>
    <td><form action="/albums/<%= album.id %>" method="get">
       <input type="submit" value="Artist Inventory"></td>
      </tr>
    </form>

  </tr>
<% end %>
</table>
