<h2>Album ID: <%= @album.id %></h2>

<h2><a href="/artists/<%= @album.artist_id %>" method="get"><%= @album.artist %></a></h2>
<div>
  <img src="../album_art/<%= @album.id %>.jpg" alt="<%= @album.title %>"/>
<form action="/albums/<%= @album.id %>/delete" method="post">
   <input type="submit" value="Delete Album"><td></form>
<div>
   <a href="/albums/<%= @album.id %>/edit">Edit Album</a>
