<h2>Album ID: <%= @album.id %></h2>

<p>
<%= @album.artist %>
<div>
<%= @album.title %>
<div>
  <img src="../album_art/<%= @album.id %>.jpg">
<p>


<form action="/albums/<%= @album.id %>/delete" method="post">
   <input type="submit" value="Delete Album"><td></form>
<div>
   <a href="/albums/<%= @album.id %>/edit">Edit Album</a>
